<% title = 'お問い合わせ'; %>
<%- include ('common/_head'); %>
<%- include ('common/_header'); %>
<!-- start contents -->

<section class="contact SECTION">
  <div class="WRAPPER--min">
    <h2 class="TITLE" data-txt="CONTACT">お問い合わせ</h2>
    <p class="contact__text">
      採用活動に関わるご連絡等、ご不明な点等ございましたらお気軽にご連絡ください。 <br />
      「Twitter」からご連絡いただいても構いません。<br />
      原則<strong>1-3営業日以内</strong>に返信いたします。
    </p>

    <%- include ('common/modules/_back'); %>

  </div>
  <!-- WRAPPER--min end -->
</section>

<!-- end  contents -->

<%- include ('common/_footer'); %>
<%- include ('common/_script'); %>
