<% title = 'トップページ'; %>
<%- include ('common/_head'); %>
<%- include ('common/_header'); %>
<!-- start contents -->
<section class="mainVisual" id="mainVisual">
  <div class="mainVisual__image"></div>

  <div class="INNER">
    <div class="mainVisual__wrapper">
      <h2 class="mainVisual__mainCopy">Morishita<br />Riku</h2>
      <p class="mainVisual__subCopy">Portfolio</p>
    </div>
    <p class="mainVisual__text">Code<br />Design</p>
  </div>
  <div class="mainVisual__background">
    <div class="mainVisual__scroll"></div>
  </div>
</section>

<!-- WORKS -->
<section class="works" id="works">
  <h2 class="TITLE" data-txt="WORKS">制作実績</h2>
  <div class="WRAPPER">
    <div class="works__wrapper">
      <!-- カード -->
      <div class="works__card works__card--first">
        <img src="./dist/img/- MEMU EARTH HOTEL - memu.earthhotel top.jp.png" alt="" class="works__image" />
        <div class="works__box">
          <h2 class="works__title">タイトルが入ります</h2>
          <ul class="works__listFrame">
            <li class="works__listItem"><a class="works__category" href="#">Design</a></li>
          </ul>
          <p class="works__caption">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <a href="single.html" class="BUTTON">VIEW DETAILS</a>
        </div>
      </div>

      <div class="works__card works__card--second">
        <img src="./dist/img/- MEMU EARTH HOTEL - memu.earthhotel top.jp.png" alt="" class="works__image" />
        <div class="works__box">
          <h2 class="works__title">タイトルが入ります</h2>
          <ul class="works__listFrame">
            <li class="works__listItem"><a class="works__category" href="#">Design</a></li>
          </ul>
          <!-- works__listFrame end-->
          <p class="works__caption">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <a href="single.html" class="BUTTON">VIEW DETAILS</a>
        </div>
        <!-- works__box end-->
      </div>
      <!-- works__card end-->

      <div class="works__box--second">
        <div class="works__card works__card--child">
          <img src="./dist/img/- MEMU EARTH HOTEL - memu.earthhotel top.jp.png" alt="" class="works__image works__image--child" />
          <h2 class="works__title works__title--child">ポートフォリオ</h2>
          <ul class="works__listFrame">
            <li class="works__listItem"><a class="works__category" href="">code</a></li>
          </ul>
          <a href="single.html" class="BUTTON BUTTON--child">VIEW DETAILS</a>
        </div>
        <!-- works__card works__card--child end-->
        <div class="works__card works__card--child">
          <img src="./dist/img/- MEMU EARTH HOTEL - memu.earthhotel top.jp.png" alt="" class="works__image works__image--child" />
          <h2 class="works__title works__title--child">ポートフォリオ</h2>
          <ul class="works__listFrame">
            <li class="works__listItem"><a class="works__category" href="">code</a></li>
          </ul>
          <a href="single.html" class="BUTTON BUTTON--child">VIEW DETAILS</a>
        </div>
        <!-- works__card works__card--child end-->
        <div class="works__card works__card--child">
          <img src="./dist/img/- MEMU EARTH HOTEL - memu.earthhotel top.jp.png" alt="" class="works__image works__image--child" />
          <h2 class="works__title works__title--child">ポートフォリオ</h2>
          <ul class="works__listFrame">
            <li class="works__listItem"><a class="works__category" href="">code</a></li>
          </ul>
          <a href="single.html" class="BUTTON BUTTON--child">VIEW DETAILS</a>
        </div>
        <!-- works__card end-->
      </div>
      <!-- works__box end-->
    </div>
    <!-- works__wrapper end-->
  </div>
  <!-- WRAPPER end-->
</section>
<!-- WORKS ここまで -->

<!-- profile -->
<section class="profile" id="profile">
  <div class="WRAPPER">
    <h2 class="TITLE" data-txt="ABOUT">私について</h2>
    <div class="profile__wrapper">
      <div class="profile__card">
        <h3 class="profile__name">森下 陸<span class="profile__name--en">Morishita Riku</span></h3>
        <p class="profile__job">WEB Designer</p>
        <p class="profile__age">age:23</p>
        <p class="profile__text">- 何事にも、全力で。</p>
        <a href="profile.html" class="BUTTON">READ MORE</a>
      </div>
      <!-- profile__card end-->
    </div>
    <!--profile__wrapper end-->
  </div>
  <!-- WRAPPER end-->
</section>
<!-- profile ここまで -->

<!-- SKILL -->
<section class="skill" id="skill">
  <div class="INNER">
    <h2 class="TITLE">SKILL</h2>
    <p class="skill__description">制作にあたって私ができることを記載しております。<span class="skill__description--deco">※下のパネルを押すと対応するブロックに移動します。</span></p>

    <div class="skill__wrapper">
      <div class="skill__box--first">
        <ul class="skill__listFrame">
          <li class="skill__listItem"><a class="skill__link skill__link--html" href="#code" data-txt="HTML"><img class="skill__icon--html" src="./img/html.svg" alt="HTMLアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--css" href="#css" data-txt="CSS"><img class="skill__icon--css" src="./img/css.svg" alt="CSSアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--scss" href="#css" data-txt="SCSS"><img class="skill__icon--scss" src="./img/scss.svg" alt="scssアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--js" href="#js" data-txt="Javascript"><img class="skill__icon--js" src="./img/javascript.svg" alt="Javascriptアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--jq" href="#js" data-txt="jQuery"><img class="skill__icon--jq" src="./img/jquery.svg" alt="jQueryアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--gulp" href="#code" data-txt="gulp"><img class="skill__icon--gulp" src="./img/gulp.svg" alt="gulpアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--wp" href="#wp" data-txt="WordPress"><img class="skill__icon--wp" src="./img/wordpress.svg" alt="wordpressアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--php" href="#wp" data-txt="PHP"><img class="skill__icon--php" src="./img/php.svg" alt="phpアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--git" href="#git" data-txt="Git"><img class="skill__icon--git" src="./img/github.svg" alt="githubアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--psd" href="#psd" data-txt="Ps"><img class="skill__icon--psd" src="./img/psd.svg" alt="psdアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--xd" href="#psd" data-txt="XD"><img class="skill__icon--xd" src="./img/xd.svg" alt="XDアイコン" /></a></li>
          <li class="skill__listItem"><a class="skill__link skill__link--figma" href="#psd" data-txt="Figma"><img class="skill__icon--figma" src="./img/figma.svg" alt="figmaアイコン" /></a></li>
        </ul>
        <!-- skill__listFrame end -->
      </div>
      <!-- skill__box--first end -->
      <div class="skill__box--second">
        <div class="skill__card skill__card--wide skill__card--css" id="css">
          <h3 class="skill__name--first">CSS</h3>
          <h4 class="skill__name--child">SCSS</h4>
          <p class="skill__caption">変数やmixin,for文などを用いて、コードを効率良く書く事を心掛けています。また、管理がしやすいディレクトリ構造も心掛けています。</p>
          <h4 class="skill__name--child">CSS設計</h4>
          <p class="skill__caption">BEMの考え方をベースにしております。 再利用性と柔軟性に長けた管理のしやすい設計を目指し、日々勉強中です。またクリックイベントを用いた、アコーディオンやドロワーメニューの作成も可能です。</p>
        </div>
        <!-- skill__card skill__card--wide end-->
        <div class="skill__card skill__card--js" id="js">
          <h3 class="skill__name--first">Javascript / jQuery</h3>
          <p class="skill__caption">
            ストップウォッチやTodoListなどのミニアプリの制作が可能。また、ライトボックスのような画像ギャラリーのようなものであればフルスクラッチで実装することができます。
          </p>
        </div>
        <!-- skill__card end-->
        <div class="skill__card skill__card--wp" id="wp">
          <h3 class="skill__name--first">WordPress / PHP</h3>
          <p class="skill__caption">
            カスタム投稿やカスタムフィールドなどを用いた保守・管理に強いテーマ構築が可能。サイト制作後の修正を意識した制作を致します。既存テーマの修正対応も可能。
          </p>
        </div>
        <!-- skill__card end-->
        <div class="skill__card skill__card--psd" id="psd">
          <h3 class="skill__name--first">PhotoShop / XD / Figma</h3>
          <p class="skill__caption">
            画像編集、ロゴやバナーの作成が可能。デザインカンプ、ワイヤーフレームの作成が可能。コーディングにも配慮したデザインの作成が可能。Figmaでは共有機能を活かした制作が可能。
          </p>
        </div>
        <!-- skill__card end-->
        <div class="skill__card skill__card--git" id="git">
          <h3 class="skill__name--first">Git / Github</h3>
          <p class="skill__caption">Git、Githubを用いたバージョン管理が可能。※使用ツールはGit Bashになります。</p>
        </div>
        <!-- skill__card end-->
      </div>
      <div class="skill__box--third">
        <div class="skill__card skill__card--code" id="code">
          <img src="./dist/img/code.svg" alt="コーディングのイラスト" />
          <h3 class="skill__name--second">コーディング</h3>
          <p class="skill__caption">
            デザインカンプ上の細かな余白や装飾を意識し、忠実に再現します。HTMLの文書構造に配慮した、セマンティックで管理のしやすいコーディングを心掛けております。ニュースやブログなどの更新頻度の高いサイトではワードプレスを用いたCMS実装まで対応いたします。
            また、タスクランナー（gulp）を使用した実装環境で、効率の良いコーディングを行います。
          </p>
        </div>
        <!-- skill__card end-->
        <div class="skill__card skill__card--design" id="design">
          <img src="./dist/img/design.svg" alt="デザインのイラスト" />
          <h3 class="skill__name--second">デザイン</h3>
          <p class="skill__caption">
            ヒアリングに基づいた内容に沿って、デザインを作成いたします。見やすさや使いやすさを意識し、目的達成を円滑にするデザイン設計を心掛けています。お客様の思いやこだわりをWEBサイトに落とし込み、ユーザーにとっても分かりやすいサイトデザインを作成します。
          </p>
        </div>
        <!-- skill__card end-->
      </div>
      <!-- skill__box--third end-->
    </div>
    <!-- skill__wrapper end-->
  </div>
</section>
<!-- SKILL ここまで -->

<!-- BLOG -->
<section class="blog" id="blog">
  <div class="INNER">
    <div class="blog__wrapper">
      <a class="blog__link" href="#">
        <div class="blog__box--first">
          <p class="blog__copy SP--none">サイトレビュー100本ノック更新中！</p>
          <h2 class="TITLE">BLOG</h2>
          <p class="blog__caution PC--none">※noteに遷移します</ｐ>
            <p class="blog__text">Read More<span class="blog__caution SP--none">※noteに遷移します。</span></p>
        </div>
      </a>
      <div class="blog__box--second">
        <!-- note 投稿画像 -->
      </div>
    </div>
  </div>
</section>
<!-- BLOG ここまで -->

 <%- include ('common/modules/_contact'); %>

<%- include ('common/_footer'); %>
<%- include ('common/_script'); %>
