<%- include ('common/_head'); %> <%- include ('common/_header'); %>
<!-- start contents -->

<section class="single SECTION">
  <div class="WRAPPER--min">
    <h2 class="TITLE">クリスタコーディング課題</h2>
    <div class="single__wrapper">
      <img src="./dist/img/single_thumbnail@2x.png" alt="" class="single__image" />

     <ul class="single__listFrame--first">
       <li class="single__listItem">サイト名<p class="single__text"><strong>サイト名が入ります。</strong></p></li>
       <li class="single__listItem">github<a href="#" class="single__link">https://github.com/rik9228/christa_work</a></li>
     </ul>
     <!-- single__listFrame end-->

     <ul class="single__listFrame--second">
       <li class="single__listItem">【概要】<p class="single__text">サイト名が入ります。</p></li>
       <li class="single__listItem">【制作期間】<p class="single__text">サイト名が入ります。</p></li>
       <li class="single__listItem">【使用言語、ツール】<p class="single__text">サイト名が入ります。</p></li>
       <li class="single__listItem">【担当】<p class="single__text">サイト名が入ります。</p></li>
       <li class="single__listItem">【備考欄】<p class="single__text">サイト名が入ります。</p></li>
     </ul>
     <!-- single__listFrame end-->

    </div>
    <!-- WRAPPER--min end-->

    <%- include ('common/modules/_back'); %>
    <%- include ('common/modules/_contact'); %>

  </div>
  <!-- WRAPPER--min end -->
</section>

<!-- end  contents -->

<%- include ('common/_footer'); %> <%- include ('common/_script'); %>
