<% title = 'お問い合わせありがとうざいます！'; %> <%- include ('common/_head'); %> <%- include ('common/_header'); %>
<!-- start contents -->

<section class="thanks SECTION">
  <div class="WRAPPER--min">
    <h2 class="TITLE" data-txt="THANKS!"></h2>
    <p class="thanks__text">
      お問い合わせありがとうございました。<br />
      ご入力いただいた内容を確認後、<strong>3営業日以内</strong>に返信いたします。<br />引き続き、宜しくお願いいたします。<br />
    </p>

    <ul class="thanks__listFrame">
      <li><a href="" class="thanks__link thanks__link--twitter">Twitter</a></li>
      <li><a href="" class="thanks__link thanks__link--instagram">Instagram</a></li>
      <li><a href="" class="thanks__link thanks__link--note">note</a></li>
    </ul>

    <%- include ('common/modules/_back'); %>
  </div>
  <!-- WRAPPER--min end-->
</section>

<!-- end  contents -->

<%- include ('common/_footer'); %> <%- include ('common/_script'); %>
